{
    "output_dir": "/home/{{ username }}/dev",
    "source": "all_repos.source.github",
    "source_settings": {
        "api_key": "{{ private['github_pat'] }}",
        "collaborator": true,
        "forks": true,
        "private": true,
        "username": "{{ username }}"
    },
    "push": "all_repos.push.readonly",
    "push_settings": {},
    "all_branches": true
}
